<div id="" class="btn btn-default btn-sm entity clear-selection disabled">Clear</div>
<% if admin_user? %>
    <div id="" class="btn btn-danger entity delete-selection btn-sm disabled">Delete</div>
<% end %>
<div class="btn btn-primary btn-sm entity view disabled">View</div>
<div style="padding-top: 10px"></div>
