<div id="" class="btn btn-default btn-sm entity clear selection disabled" model="entity">Clear</div>
<% if admin_user? %>
    <div id="" class="btn btn-danger entity delete selection btn-sm disabled" model="entity">Delete</div>
<% end %>
<div class="btn btn-primary btn-sm entity view selection disabled" model="entity">View</div>
<div style="padding-top: 10px"></div>
