<div class="panel panel-default col-xs-12">
    <h6> Edit Entity Property Relationship </h6>
    <div style="border-bottom: 1px solid #ccc; margin: 5px"></div>
    <%= bootstrap_form_for(relation, url: { controller: "hub", action: "update_epr" }, method: :post, remote: true) do |f| %>
      <%= hidden_field_tag :page, 'hub' %>
      <%= render partial: 'entity_property_relationships/fields', locals: { f: f, relation: relation } %>
      <%= f.submit "Update", class: "btn btn-sm btn-primary btn75", id: "update-epr" %>
    <% end %>
</div>