<div id="clear-selected-entitys-groups" class="btn btn-default btn-sm disabled">Clear</div>
<div id="delete-selected-entitys-groups" class="btn btn-danger btn-sm disabled">Delete</div>
<div style="padding-top: 10px"></div>