<div class="panel panel-default entity_property_relationships" id="entity_properties">
    <div class="panel-heading">
        <h3 class="panel-title">Properties</h3>
    </div>
    <div class="panel-body">
        <% if @relationships.any? %>
            <%= render partial: 'relationship', collection: @relationships %>
            <%= will_paginate @relationships %>
        <% end %>
    </div>
</div>
  
