console.log("delete confirm");
$("#debug").html('<%= params %>');
<% unless @entity.blank? %>
    _html = '<%= sanitize @entity[:notification] %>';
    console.log(_html);
    $("div#notice").html("" + _html + " ");
    console.log("delete confirmed for <%= @entity[:data].name %>");
<% else %>
    $("div#notice").html("<div class='alert notice alert-danger center'>There was an error with the request.</div> ");
<% end %>

$("div#list").html("<%= j render partial: 'entities/entities', locals: { show_created: true, show_remove: true }  %>");


