$("#debug").html('<%= params %>');
<% unless @entity.blank? %>
    $("div#delete-modal").html("<%= j render partial: 'entities/confirm_delete' %>");
    $("#delete-confirm").modal("show");
<% else %>
    $("div#notice").html("<div class='alert alert-danger center'>There was an error with the request.</div> ")
<% end %>

console.log("delete requested for <%= @entity.name %>");
