var egrs_html += "  <%= j render 'entities/groups' %>";

$('#egrs').html(egrs_html)

var alert_html = "";

<% unless @result.nil? %>
    <% if @result[:r] == 1 %>
        alert_html += "    <div class='alert notice alert-success'>";
        alert_html += "    <%= @result[:msg] %>";
        alert_html += "    </div>";
        //clear the entity form fields
        // $('input[id^=entity]').val('');
    <% else %>
        alert_html += "    <div class='alert notice alert-danger'>";
        alert_html += "        <%= @result[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert notice alert-danger'>";
    alert_html += "        There was an error retrieving #{@fetched_entity.name}'s groups";
    alert_html += "    </div>";
<% end %>

$('#entitys-groups-alert').html(alert_html);