<% provide(:title, 'All Entities') %>

<!-- Reload defaults -->
<a style="color: #494A4A" href="<%= entities_path %>">Entities</a>

<h1>All Entities</h1>

<!-- Link to Entity creation form -->
<%= link_to "Create New", new_entity_path, class: "btn btn-primary btn-sm", style: "float: right; margin-bottom: 10px"%>
<br/>
<br/>

<!-- Search Form -->
<%= render partial: 'search', locals: { path: entities_path, remote: false } %>

<!-- List -->
<%= render partial: 'entities/entities', locals: { show_created: true, show_remove: true } %>
