<div id="" class="btn btn-default btn-sm group clear selection disabled" model="group">Clear</div>
<% if admin_user? %>
    <div id="" class="btn btn-danger group delete selection btn-sm disabled" model="group">Delete</div>
<% end %>
<div class="btn btn-primary btn-sm group view selection disabled" model="group">View</div>
<div style="padding-top: 10px"></div>
