<span id="group_name" class="label label-default name form-label group">Name</span>
<%= f.text_field :name, class: "group input-sm name form-field", hide_label: true %>

<span id="group_label" class="label label-default default_label form-label group">Label</span>
<%= f.text_field :default_label, class: "group input-sm default_label form-field", hide_label: true %>