<% if defined? @groups_property_relations %>
    <% unless @groups_property_relations.empty? %>
        <%= render partial: 'groups/property_relation_actions' %>
        <table class="table groups_properties">
            <th>
                Name
            </th>
            <% if show_units %>
                <th>
                    Units
                </th>
            <% end %>
            <th>
                Short Units
            </th>
            <% if show_created %>
                <th>
                    Created
                </th>
            <% end %>
            <th>
                Order
            </th>
            <% if show_remove %>
                <th>
                    Remove
                </th>
            <% end %>
            <%= render partial: 'groups/property_relationship', collection: @groups_property_relations, locals: { show_units: show_units, show_created: show_created, show_remove: show_remove }  %>
        </table>
        <%= will_paginate @groups_property_relations, inner_window: 0, outer_window: 0, param_name: 'groups_properties_page', params: { groups_property_event: true } %>
    <% end %>
<% else %>
    <div class='alert alert-info small-font center'>
        <i>No Group selected.</i>
    </div>
<% end %>
