<div id="clear-selected-groups-properties" class="btn btn-default btn-sm disabled" style="float: left">Clear</div>
<div id="delete-selected-groups-properties" class="btn btn-danger btn-sm disabled" style="float: left; margin-left: 3px">Delete</div>
<div id="selected-groups-properties-order-actions">
    <div id="bottom-selected-groups-properties" class="fa fa-angle-double-down fa-lg property-order-action disabled"></div>
    <div id="down-selected-groups-properties" class="fa fa-angle-down fa-lg property-order-action disabled"></div>
    <div id="up-selected-groups-properties" class="fa fa-angle-up fa-lg property-order-action disabled"></div>
    <div id="top-selected-groups-properties" class="fa fa-angle-double-up fa-lg property-order-action disabled"></div>
</div>
<div style="padding-top: 10px"></div>