$('#hub-alert').html(flash_alert);
$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");
$('input[id^=group]').val('');


function flash_alert() {
    var result = "<% unless @result.nil? %>";
        result+= "<% if @result[:r] == 1 %>";
        result+= "    <div class='alert notice alert-success'>";
        result+= "    <%= @result[:msg] %>";
        result+= "    </div>";
        result+= "<% else %>";
        result+= "    <div class='alert notice alert-danger'>";
        result+= "        <%= @result[:msg] %>";
        result+= "    </div>";
        result+= "<% end %>";

    result+= "<% else %>";
    result+= "    <div class='alert notice alert-danger'>";
    result+= "        There was an error saving #{@group.name}";
    result+= "    </div>";
    result+= "<% end %>";

    return result;
}