<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <span id='<%= "#{@user.id}" %>' class="delete-user-id"></span>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Property</h4>
      </div>
      <div class="modal-body">
        <div class="center">Are you sure you want to delete <span class="badge alert-info"> <%= @user.login %> </span>?</div>
        <h5 class="center">Click <span class="badge alert-info">Confirm</span> to delete <span class="badge alert-info"><%= @user.login %></span></h5>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default close-modal" data-value="1" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-confirm" type="button" class="btn btn-primary close-modal confirm" data-value="0" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>