$("#debug").html('<%= params %>');
<% unless @user.blank? %>
    $("div#delete-modal").html("<%= j render partial: 'users/confirm_delete' %>");
    $("#delete-confirm").modal("show");
<% else %>
    $("div#notice").html("<div class='alert notice alert-danger center'>There was an error with the request.</div> ")
<% end %>

console.log("delete requested for <%= @user.login %>");
