<% provide(:title, "Edit user") %>
<script type="text/javascript">
  $("body").addClass("edit-user");
</script>

<% if admin_user? %>
    <h1>Update User Profile</h1>
<% else %>
    <h1>Update Your Profile</h1>
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= bootstrap_form_for(@user, inline_errors: false) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary btn150" %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>