<div id="" class="btn btn-default btn-sm property clear selection disabled" model="property">Clear</div>
<% if admin_user? %>
  <div id="" class="btn btn-danger property delete selection btn-sm disabled" model="property">Delete</div>
<% end %>
<div class="btn btn-primary btn-sm property view selection disabled" model="property">View</div>
<div style="padding-top: 10px"></div>
