<% unless current_property?(add_property) ||  current_property.descendant_of?(add_property) || current_property.ancestor_of?(add_property)  %>
    <li id="add_property_<%= add_property.id %>">
        <span class="user">
          <%= link_to add_property.name, add_property %>
        </span>
      <% if current_user.admin?  %>
        |
        <%= link_to "Add Parent", property_associations_path(parent: add_property, child: current_property, added_property: add_property), class: "link_to_add_property_association", method: :post %>    
        |
        <%= link_to "Add Child", property_associations_path(parent: current_property, child: add_property, added_property: add_property), class: "link_to_add_property_association", method: :post %>          
      <% end %>
    </li>
<% end %>