$("#debug").html('<%= params %>');
<% unless @property.blank? %>
    $("div#delete-modal").html("<%= j render partial: 'properties/confirm_delete' %>");
    $("#delete-confirm").modal("show");
<% else %>
    $("div#notice").html("<div class='alert notice alert-danger center'>There was an error with the request.</div> ")
<% end %>

console.log("delete requested for <%= @property.name %>");
