<% provide(:title, 'All Properties') %>
<h1>All Properties</h1>

<%= will_paginate %>

<%= link_to "Create New", new_property_path, class: "btn btn-primary btn-sm", style: "float: right"%>
<ul class="properties">
  <%= render @properties %>
</ul>

<%= will_paginate %>