<% provide(:title, @property.name) %>
<div class="row">
    <aside class="col-xs-2">
        <section>
            <h1>
                <%= @property.name %> Definition
            </h1>
            <small class="note"><%= @property.default_label %></small>
            <div style="float: right">
                <%= link_to "Edit", edit_property_path(@property), class: "btn btn75 btn-primary btn-sm" %>
            </div>
        </section>
    </aside>
</div>
<div class="row">
    <div class="col-xs-8">
    <hr/>
    <h5>Relationships</h5>
        <div class="panel panel-default" id="entity-employers">
            <div class="panel-heading">
                <h3 class="panel-title">Entities</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="panel panel-default" id="property-associations">
            <div class="panel-heading">
                <h3 class="panel-title">Properties</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
