<% @property %>
<div class="stats">
  <a href="<%= children_property_path(@property) %>">
    <strong id="children" class="stat">
      <%= @property.children.count %>
    </strong>
    children
  </a>
  <a href="<%= parents_property_path(@property) %>">
    <strong id="parents" class="stat">
      <%= @properties.parents.count %>
    </strong>
    parents
  </a>
</div>