<div id="" class="btn btn-default btn-sm egr clear-selection disabled">Clear</div>
<% if admin_user? %>
    <div id="" class="btn btn-danger egr delete-selection btn-sm disabled">Delete</div>
<% end %>
<div class="btn btn-primary btn-sm egr view disabled">View</div>
<div style="padding-top: 10px"></div>
