<script type="text/javascript">
  $("body").addClass("roles");
</script>

<%= render partial: 'layouts/index', locals: {model: "role", locale: { show_remove: true }, alt_title: "", show_new: true } %>

<div id="delete-modal">
</div>