$("#debug").html('<%= params %>');
$('#properties').html("<%= j render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");
$('input[id=property_search_field]').val('');

var alert_html = "";

<% unless @property.nil? %>
    <% if @property[:status] == 1 %>
        alert_html += "    <div class='alert alert-success small-font center'>";
        alert_html += "    <%= @property[:msg] %>";
        alert_html += "    </div>";
        //clear the property form fields
        $('input[id^=property]').val('');
        $('input#property_default_visibility').val('0');
    <% else %>
        alert_html += "    <div class='alert alert-danger small-font center'>";
        alert_html += "        <%= @property[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger small-font center'>";
    alert_html += "        There was an error saving #{@property[:data].name}";
    alert_html += "    </div>";
<% end %>

hubAlert("#property-alert1", alert_html);
persistStyling();
NewPropertyValidation();
clearPropertyAttributes();
ajaxPagination();