var entities_html = "  <%= j render 'entities/entities' %>";

$('#entities').html(entities_html)
$('input[id=entity_search_field]').val('');


var alert_html = "";

<% unless @result.nil? %>
    <% if @result[:r] == 1 %>
        alert_html += "    <div class='alert alert-success'>";
        alert_html += "    <%= @result[:msg] %>";
        alert_html += "    </div>";
        //clear the entity form fields
        $('input[id^=entity]').val('');
    <% else %>
        alert_html += "    <div class='alert alert-danger'>";
        alert_html += "        <%= @result[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger'>";
    alert_html += "        There was an error saving #{@entity.name}";
    alert_html += "    </div>";
<% end %>

$('#hub-alert').html(alert_html);
