$("#debug").html('<%= params %>');
$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");
$('input[id=group_search_field]').val('');

var alert_html = "";

<% unless @group.nil? %>
    <% if @group[:status] == 1 %>
        alert_html += "    <div class='alert notice alert-success small-font center'>";
        alert_html += "    <%= @group[:msg] %>";
        alert_html += "    </div>";
        //clear the group form fields
        $('input[id^=group]').val('');
    <% else %>
        alert_html += "    <div class='alert notice alert-danger small-font center'>";
        alert_html += "        <%= @group[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert notice alert-danger small-font center'>";
    alert_html += "        There was an error saving #{@group[:data].name}";
    alert_html += "    </div>";
<% end %>

hubAlert("#group-alert1", alert_html);
persistStyling();
NewGroupValidation();
clearGroupAttributes();
ajaxPagination();