$("#debug").html('<%= params %>');
$('#properties').html("<%= j render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");

clearSelectedProperties();

alert_html = "" 
<% unless @deleted_properties.nil? || @deleted_properties.empty? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Properties Deleted:</strong></p>";
    <% @deleted_properties.each do |property| %>
        <% unless property[:data].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=property[:data].name %> </p>"; 
            property_id = "<%= property[:data].id %>";
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Deleted:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#property-alert2", alert_html);
persistStyling();