$('#entities').html("<%= j render partial: 'entities/entities', locals: { show_created: false, show_remove: false } %>");
// $('#entity_search_field').val('');

var alert_html = "";

<% unless @result.nil? %>
    <% if @result[:r] == 1 %>
        alert_html += "    <div class='alert alert-success'>";
        alert_html += "    <%= @result[:msg] %>";
        alert_html += "    </div>";
        entityDeselect();
        //clear the entity form fields
        // $('input[id^=entity]').val('');
    <% else %>
        alert_html += "    <div class='alert alert-danger'>";
        alert_html += "        <%= @result[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger'>";
    alert_html += "        There was an error deleting " + <%= @entity.name %> ;
    alert_html += "    </div>";
<% end %>

$('#hub-alert').html(alert_html);

persistStyling();