$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");

clearSelectedGroups();
validateGroupSelection();

alert_html = "" 
<% unless @deleted_groups.nil? || @deleted_groups.empty? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Groups Deleted:</strong></p>";
    <% @deleted_groups.each do |deleted_group| %>
        <% unless deleted_group[:data].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=deleted_group[:data].name %> </p>"; 
            group_id = "<%= deleted_group[:data].id %>";
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Deleted:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#group-alert", alert_html);
persistStyling();