var entitys_groups_html = "  <%= j render partial: 'entities/groups' %>";

$('#entitys_groups').html(entitys_groups_html)

var alert_html = "";

<% unless @result.nil? %>
    <% if @result[:r] == 0 %>
        alert_html += "    <div class='alert alert-danger'>";
        alert_html += "        <p><%= @result[:msg] %></p>";
        alert_html += "    </div>";
    <% elsif @result[:r] == 2 %>
        alert_html += "    <div class='alert alert-info'>";
        alert_html += "        <i><%= @result[:msg] %></i>";
        alert_html += "    </div>";
    <% else @result[:r] == 1 %>
        alert_html += "    <div class='alert alert-success'>";
        alert_html += "        <i><%= @result[:msg] %></i>";
        alert_html += "    </div>";
        $("#clear-selected-groups").click();
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger'>";
    alert_html += "        <p>There was an error retrieving #{@selected_entity.name}'s groups</p>";
    alert_html += "    </div>";
<% end %>

$('#hub-alert').html(alert_html);
$('#entitys-groups-alert').html("");

persistStyling();