@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.small-font {
  font-size: 0.9em;
  line-height: 1em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 0.8em;
  line-height: 1.3em;
}

th {
  a {
    font-size: 1em;
    line-height: 1.3em;
  }
}

td {
  font-size: 0.9em;
  line-height: 1.1em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

span#quick-links {
  padding-left: 5px;
  padding-bottom: 5px;
  a {
    color: #44C76A;
    &:hover {
      color: #11AB3E;
      text-decoration: none;
    }
  }
}

/* footer */

footer {
  // position: absolute;
  bottom: 0;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea#micropost_content {
  height: 75px;
  max-width: 100%;
  max-height: 75px;
}

input {
  height: auto !important;
}

input.btn150 {
  float: right;
  right: 0px;
  width: 150px;
}

input.btn100 {
  float: right;
  right: 0px;
  width: 100px;
}

input.btn75{
  width: 75px;
  right: 0px;
  float: right;
}

input[name='commit'] {
  margin-bottom: 20px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */

.entity_property_relationships {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.property_associations {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* added by me */
div.inner-padding15 {
    padding: 15px;
}

img#img_avatar {
    max-width: 100px;
    max-height: 100px;
}

div#navigation-group {
  position: absolute;
  right: 10%;
  bottom: 5px;
}

span#char-counter {
  color: $gray-light;
  float: right;
}

small.note {
    color: $gray-light;
}

div#property-associations {
  float: left;
  width: 50%;
}

div#entity-employers {
  float: left;
  width: 50%;
}

div.panel {
  min-width: 65px;
}

a.btn-full-width {
  width: 100%;
}

#entity_properties {
  .panel-heading a.edit_property:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
  .panel-heading a.edit_property.collapsed:after {
      content: "\e080";
  }
}

div#add-properties {
  a.link_to_add_entity_property_relationship {
    color: #75A329;
    margin-left: 5px;
  }
}

ul.item-list {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

tr.list-item {
  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

tr.selected-entity {
  background-color: #AADFFF; //soft-blue
  &:hover {
    background-color: #AFDFE8; //other blue
    text-decoration: none;
  }
}

tr.selected-entitys-group {
  background-color: #AADFFF; //soft-blue
  &:hover {
    background-color: #AFDFE8; //other blue
    text-decoration: none;
  }
}

tr.selected-group {
  background-color: #AADFFF; //soft-blue
  &:hover {
    background-color: #AFDFE8; //other blue
    text-decoration: none;
  }
}

aside.v-divider {
  border-right: 1px solid black;
}

//Table sorting icons
.table th .current {
  background-repeat: no-repeat;  
  background-position: right center;
  &.asc:after {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e113";    
    color: grey;   
  }
  &.desc:after {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    color: grey;   
  }
}

div#add-selected-groups {
  background-repeat: no-repeat;  
  background-position: right center;
  float: right;
  font-family: 'FontAwesome';
  font-size: 1em;
  line-height: 2em;
  &.enabled {
    color: #21B82F;
    &:hover {
      cursor: pointer;
      color: #198C24;
    }
  }
  &.enabled:after {
    float: right;
    padding-left: 5px;
    font-family: 'FontAwesome';
    content: "\f0fe";    //fa-plus-square
    font-size: 2em;
  }
  &.disabled {
    color: grey; 
  }
  &.disabled:after {
    float: right;
    padding-left: 5px;
    font-family: 'FontAwesome';
    content: "\f0fe";    //fa-plus-square
    font-size: 2em;
  }
}

div.group-order-action {
  background-repeat: no-repeat;  
  background-position: right center;
  float: right;
  font-family: 'FontAwesome';
  // font-size: 1em;
  line-height: 2em;
  &.enabled {
    color: #21B82F;
    &:hover {
      cursor: pointer;
      color: #198C24;
    }
  }
  &.enabled:after {
    float: left;
    padding-left: 5px;
    font-family: 'FontAwesome';
    // content: "\f0fe";    //fa-plus-square
    // font-size: 2em;
  }
  &.disabled {
    color: grey; 
  }
  &.disabled:after {
    float: left;
    padding-left: 5px;
    font-family: 'FontAwesome';
    // content: "\f0fe";    //fa-plus-square
    // font-size: 2em;
  }
}

span#selected-entitys-group-order-actions {
  background-repeat: no-repeat;  
  background-position: right center;
  float: right;
}

div.alert {
  p {
    font-size: 1em;
    line-height: 1em;
  }
}

div.mid {
  float: none;
  margin: 0 auto;
}