<footer class="footer">
  <small>
    <a href="http://www.goalzero.com">Goal Zero</a>
    &copy; 2014
  </small>
  <pre class="debug_dump">
      <span id="debug">
      </span>
  </div>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>