<br/>
<footer class="footer">
  <small>
    <a href="http://www.goalzero.com">Goal Zero</a>
    &copy; 2014
  </small>
  <% if signed_in? && admin_user? %>
    <pre class="debug_dump">
      <span id="debug">
      </span>
    </pre>
  <% end %>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>