<span id="quick-links">
    <%= link_to_unless_current "", :back, class: "fa fa-chevron-circle-left fa-lg quick-link back" %>
    <%= link_to "", "", class: "fa fa-refresh fa-lg quick-link refresh" %>
</span>