<div class="row center" style="padding-bottom: 10px;">
    <div class="col-xs-12">
            <span class="fa fa-cogs fa-6" style="font-size: 15em;"></span>
    </div>
</div>
<div class="row center">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Coming Soon</h4>
            </div>
            <div class="panel-body">
                <p>This page is still under construction. Check back soon. </p>
            </div>
        </div>
    </div>
</div>